@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&display=swap');

.searchComponents {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.fullComponent {
    border: solid #4F513D;
    border-radius: 20px;
    width: 300px;
    height: 550px;
    position: relative; 
    box-shadow: 2px 2px 5px #4F513D;
    padding: 20px;
    margin-bottom: 30px;
}

.form-searchplant {
    padding-top: 15px;
    z-index: 0;
    margin-top: 30px;
    background-color: #BAC284;
    border-top: solid #4F513D;
    border-bottom: solid #4F513D;
    padding-top: 20px;
    margin-bottom: 65px;
}

.form-sp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.form-searchplant input,
.form-searchplant select,
.form-searchplant textarea {
    font-family: Arial, Helvetica, sans-serif;
    color: #4F513D;
    box-sizing: border-box;
    width: 300px;
    margin-top: 3px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #888d68;
}

.form-searchplant input:focus,
.form-searchplant select:focus,
.form-searchplant textarea:focus {
    outline: none;
}

.form-searchplant label {
    display: block;
}

.form-searchplant textarea {
    padding-bottom: 78px;
    overflow: hidden;
}

.form-searchplant button{
    margin-left: 50%;
    transform: translate(-50%);
    background-color: rgb(223, 226, 203);
    border: 1px solid #888d68;
    color: #5f6343;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 300ms;
    margin-top: 20px;
}

.plantbutton {
    font-size: 1.5em;
    padding: 20px;
    background-color: #BAC284;
    border: solid #4F513D;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-left: 45%;
    margin-top: 30px; 
}

.plantheading {
    padding: 0;
    margin: 0;
}

.buttons-area button:last-child {
    padding: 5px;
    margin-bottom: 10px;
}

.buttons-area button:hover {
    background-color: #888d68;
    color: white;
}
