.header {
    padding-bottom: 100px;
}

.st0 {
    fill:none;
    stroke:#BAC284;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    animation: dash 4s linear forwards;
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.icons, .titles {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.peticon, .sunicon, .easyicon {
    width: 20%;
}

p, h2 {
    text-align: center;
}
